* {
  font-family: "Rubik", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.radioGroup {
  display: flex;
  margin-top: 10px;
}

.radioGroupItem {
  margin-right: 30px;
}

.field {
  margin-bottom: 35px;
  opacity: 0;
  height: 0px;
  width: 0px;
  transition: opacity 500ms ease-out;
  overflow: hidden;
}

.fieldIsActive {
  opacity: 1;
  height: auto;
  width: auto;
  overflow: visible;
}

.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  background: #7914ff;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.fieldLabel {
  font-size: 45px;
  font-weight: 800;
  color: #fff;
  line-height: 60px;
}

.radio label {
  font-size: 25px !important;
  font-weight: 800;
  color: #fff !important;
}

.radioGroup {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.radioGroupItem {
  font-size: 35px;
  font-weight: 800;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #fff0;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 300ms ease-out;
  margin-bottom: 10px;
}

.radioGroupItem:hover {
  background-color: #ffffff54;
}

.result {
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms ease-out;
  overflow: hidden;
}

.resultActive {
  width: 100%;
  background-color: #333;
}

.resultHeader {
  font-size: 20px;
  color: #fff;
}

.resultText {
  font-size: 60px;
  color: #fff;
  margin-top: 30px;
  line-height: 75px;
}

.resultClose {
  font-size: 20px;
  color: #fff;
  margin-top: 50px;
  position: relative;
  left: 500px;
  opacity: 0.6;
  transition: all 300ms ease-out;
  cursor: pointer;
}

.resultClose:hover {
  opacity: 1;
}
